{% load static %}

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<title>
			GUR - 
			{% block title_block %}
				Glasgow University Recipes	
			{% endblock %}
		</title>
	</head>
	<body>
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		<hr />
		<div>
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'GUR:logout' %}">Logout</a></li>
					<li><a href="{% url 'GUR:upload' %}">Upload a Recipe</a></li>
					{% if user.userprofile %}
					<li><a href="{% url 'GUR:view_user' user.userprofile.id %}">My Profile</a></li>
					{% endif %}
				{% else %}
					<li><a href="{% url 'GUR:register' %}">Sign Up</a></li>
					<li><a href="{% url 'GUR:login' %}">Login</a></li>
				{% endif %}
				<li><a href="{% url 'GUR:search' %}">Search</a></li>
				<li><a href="{% url 'GUR:home' %}">Home</a></li>
			</ul>
		</div>
	</body>
</html>
