{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
	Homepage	
{% endblock %}


{% block body_block %}
	

	This is a description on the home page about the website

	<br />	
	<!--cook of the month-->

	{% if CookoftheMonth %}
		Cook of the Month: 
		<a href="{% url 'GUR:view_user' CookoftheMonth.id %}">{{ CookoftheMonth.nickname }}</a>
	{% endif %}


	<br />	
	<img src="{{ MEDIA_URL }}images/standin.jpg"
				alt="Cook of the month profile picture" />
	
	<br />	


	<!--recipe of the week-->
	
	{% if RecipeoftheWeek %}
		Recipe of the Week: 
		<a href="{% url 'GUR:view_recipe' RecipeoftheWeek.slug %}">{{ RecipeoftheWeek.name }}</a>

	{% endif %}

	<br />	

	<img src="{{ MEDIA_URL }}images/standin.jpg"
				alt="Picture of the recipe of the week" />
	
	<br />	


{% endblock %}


