{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
	{% if recipe %}
		{{ recipe.name }}
	{% else %}
			Unknown Recipe
	{% endif %}
{% endblock %}


{% block body_block %}
	
	{% if recipe %}

		<h1>{{ recipe.name }}</h1>
		{{ recipe.description }}
		<br />
		Created by <a href="{% url 'GUR:view_user' recipe.user.id %}">{{ recipe.user.user.username }}</a> on {{ recipe.date}}.
		<br />
		<img src="{{ MEDIA_URL }}images/{{ recipe.picture }}"
				alt="Recipe Picture" />
		

		<!-- ingredients -->

		<h2>Ingredients</h2>
		{% if ingredients %}
			{% for i in ingredients %}
			<li> {{ i.ingredient.name }} {{ i.quantity}} {{i.unit}}</li>
			{% endfor %}
		{% else %}
			No Ingredients Found
		{% endif %}
		 

		<!-- method -->

		<h2>Method</h2>
		{{ recipe.method }}


		<h2>Reviews</h2>
		{% if reviews %}
			<div style="margin-bottom: 15px">
				<strong>Sort by:</strong>

				{% if sort_by == 'recent' %}
					<b>Most Recent</b>
				{% else %}
					<a href="?sort=recent">Most Recent</a>
				{% endif %}

				|

				{% if sort_by == 'top' %}
					<b>Highest Rated</b>
				{% else %}
					<a href="?sort=top">Highest Rated</a>
				{% endif %}
			
			</div>
			
			{% for review in reviews|slice:":5" %}
			<li> 
				Rating: {{ review.rating }} /5
				Comment: {{ review.description }}
				Written by: <a href="{% url 'GUR:view_user' review.user.id %}">{{ review.user.user.username }}</a>
			</li>
			{% endfor %}
		{% else %}
			No Reviews Yet
		{% endif %}

		{% if user.is_authenticated %} <!-- rate/ comment-->
		<h2>Review this recipe</h2>
		<div>
			<a href="{% url 'GUR:add_review' recipe.slug %}" class="profile-link-button">
				Leave a Review
			</a>
		</div>
		{% endif %}





	{% else %}
			Unknown Recipe
	{% endif %}

{% endblock %}
