{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
	Search
{% endblock %}


{% block body_block %}
	
<h2> Search</h2>
<form class="search-bar" method="get" action="{% url 'GUR:search' %}">
		<div class="seach-input-container">
        	<input type="text" name="q" value="{{ query }}">
    		<input type="submit" value="Search">
		</div>
        {% if query %}
            <h3>Results</h3>
						<div id="results">
							{% include 'main/results.html' %}
						</div>

						<input type="hidden" id="next-page" value="{{ next_page }}">
						<input type="hidden" id="search-query" value="{{ query }}">
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
		
		<script src="{% static  'js/search.js' %}"> </script>
{% endblock %}


