{% extends 'main/base.html' %}

{% load static %}

{% block title_block %}
	{% if profile %}
	{{ profile.nickname }}
	{% else %}
		Unknown User
	{% endif %}
{% endblock %}


{% block body_block %}

	{% if profile %}

		<h1>{{ profile.nickname }}</h1>
		<img src="{{ MEDIA_URL }}images/{{ profile.profile_picture }}"
				alt="user profile picture" />

		<!--About me-->
		<h2>About {{ profile.user.first_name }}</h2>
		{{ profile.about }}

		<h2>{{ profile.user.first_name }}'s recipes</h2>
		{% if recipes %}

			{% for recipe in recipes|slice:":5" %}
					<li><a href="{% url 'GUR:view_recipe' recipe.slug %}">{{ recipe.name }}</a></li>
			{% endfor %}
		{% else %}
			{{ profile.user.first_name }} doesn't have any recipes yet
		{% endif %}


		<h2>{{ profile.user.first_name }}'s reviews</h2>
		{% if reviews %}
			{% for review in reviews|slice:":5" %}
			<li>
				Rating: {{ review.rating }} /5
				Comment: {{ review.description }}
				Written by: <a href="{% url 'GUR:view_user' profile.id %}">{{ profile.nickname }}</a>
			</li>
			{% endfor %}
		{% else %}
			No Reviews Yet
		{% endif %}

		{% if user.is_authenticated %}
			Report
		{% endif %}

	{% else %}
			Unknown User
	{% endif %}

{% endblock %}
